@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 0;
}

.container {
  width: 450px;
  padding: 20px;
  margin-top: 80px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  text-align: center;
}

h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 30px;
}

.question {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
}

.options {
  margin-bottom: 20px;
}

.option {
  display: block;
  margin-bottom: 10px;
  text-align: left;
}

button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #428bca;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-right: 10px;
  margin-top: 10px;
}

button:hover {
  background-color: #3071a9;
}

.result {
  font-weight: bold;
  margin-top: 20px;
}

.hide {
  display: none;
}

#startButton {
  background-color: #28a745;
}

#startButton:hover {
  background-color: #218838;
}

#skip {
  background-color: #ff9800;
}

#skip:hover {
  background-color: #f57c00;
}

#retry {
  background-color: #f44336;
}

#retry:hover {
  background-color: #d32f2f;
}

input[type="radio"] {
  margin-right: 10px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 20px;
}

input[type="text"]:focus {
  border-color: #428bca;
}

#nameContainer {
  text-align: center;
  margin-top: 50px;
}

#quiz {
  margin-top: 20px;
}

#result p {
  font-size: 18px;
  color: #333;
}
